<div class="contenedor">

    <form [formGroup]="editarForm">

        <button [routerLink]="['/']">Volver</button>

        <h1>EDITAR USUARIO</h1>
        ID: <input type="text" formControlName="_id" value="{{ id }}" [readonly]="true">
        <br>
        Nombre: <input type="text" formControlName="nombre">
        <br>
        Apellidos: <input type="text" formControlName="apellidos">
        <br>
        Edad: <input type="number" formControlName="edad">
        <br>
        <button (click)="editarUsuario(id, usuario)">Editar</button>

    </form>

</div>